{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.image.url}}" width="400" height="400">
        </div>
<div class="col-md-6">
   <h2>{{movie.name}}</h2>
    <h3> {{movie.year}}</h3>
   <h5> {{movie.brief}}</h5><br>
    <a class="btn btn-warning" href="{% url 'moviesapp:update' movie.id %}">update</a>
    <a class="btn btn-danger" href="{% url 'moviesapp:delete' movie.id %}">delete</a>
</div>
    </div>
</div>
{% endblock %}